html {
    scroll-behavior: smooth;
}

img {
    width: 70%;
}

.imageposter {
    position: relative;
    width: 10%;
    height: auto;
    margin-left: 70px;
    transition: 1s all;

}

.imageposter:hover,
iframe:hover {
    opacity: 1;
    z-index: 4;
    transform: scale(1.3);
}


#l1 {
    width: 0px;
    height: 0px;
}

html,
html * {
    scrollbar-color: rgba(0, 0, 0, .2) #dfdfdf;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    background-color: #dfdfdf;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, .5);
}




body {
    margin: 0;
    background-color: black;
    /*
   background-image: url("/pages/img/911.png");
   */


}

h1 {
    font-family: Arial;
    color: red;

}

.carossel-cartaz {
    position: relative;
}

.number {
    position: absolute;
    left: 0px;
    top: -110px;

}

.filme-item {
    position: relative;
}

.serie-item {
    position: relative;
}

.serie-item .imageposter {
    padding: 0 13px;
}

.filme-item .imageposter {
    padding: 0 15px;
}

.header {
    position: relative;
    height: 40px;
    background-color: grey;
}

#seach {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#header-Home {
    position: absolute;
    left: 10px;
    top: 0px;
}

#header-Exclusivo {
    position: absolute;
    left: 60px;
    top: 0px;
}

#header-Catalogo {
    position: absolute;
    left: 135px;
    top: 0px;
}

iframe {
    width: 700px;
    pointer-events: none;
    height: 500px;

}

#carrossel {
    position: relative;
}

#anterior {
    width: 80px;
    position: absolute;
    opacity: 0;
    bottom: 30px;
    left: 0px;
    z-index: 4;

}

#proximo {
    width: 80px;
    position: absolute;
    opacity: 0;
    bottom: 30px;
    right: 0px;


}



#anteriorseries {
    width: 80px;
    position: absolute;
    opacity: 0;
    bottom: 30px;
    left: 0px;
    z-index: 4;

}

#proximoseries {
    width: 80px;
    position: absolute;
    opacity: 0;
    bottom: 30px;
    right: 0px;
    z-index: 4;


}

#proximoseries:hover {
    opacity: .5;
}

#anteriorseries:hover {
    opacity: .5;
}

#proximo:hover {
    opacity: .5;
}

#anterior:hover {
    opacity: .5;
}

#number10 {
    position: absolute;
    left: 0px;
    z-index: 3;
}

.logo {
    width: 0px;
    height: 0px;
}

.num {
    width: 40px;
}

#conteiner-1 {
    position: relative;
}

p img {
    width: 20px;
    color: white;
}

#frame-1 {
    position: absolute;
    right: 150px;
    width: 50%;
}

#top-1-series {
    position: absolute;
    left: 10px;
    bottom: 40%;
    width: 30%;
}

#top-1-series img {

    width: 30%;


}

#top-1-series p {
    position: absolute;
    text-align: justify;

}

#top-1-filmes p {
    position: absolute;
    text-align: justify;

}

#frame-3 {
    float: right;
}

#conteiner-3 {
    position: relative;
}

#top-1-filmes {
    position: absolute;
    left: 10px;
    bottom: 40%;
    width: 30%;
}

#top-1-filmes img {

    width: 30%;


}

.conteiner {
    position: relative;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 68%);
    overflow: hidden;
    scroll-behavior: smooth;
}

#icone-series {
    width: 40px;

    left: 10%;
}

#icone-filmes {
    width: 40px;

}


.conteiner-cartaz {
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 100%);
    overflow: hidden;
    scroll-behavior: smooth;
}

@media (max-width: 1024px) {
    #section1 {
        position: relative;
        float: left;
        width: 1100px;
    }

    #proximo{
        display: none;
    }

    #anterior{
        display: none;
    }

    #proximoseries{
        display: none;
    }

    #anteriorseries{
        display: none;
    }

    #section2 {
        position: relative;
        float: left;
        width: 1100px;
        left: 1030px;

    }

    #section3 {
        position: relative;
        float: left;
        width: 1100px;


    }

    #section4 {
        position: relative;
        float: left;
        width: 1100px;
        left: 1030px;

    }

    .conteiner {
        display: grid;
        grid-template-columns: repeat(2, 4%);
        overflow: scroll;
    }
   
}

@media (min-width:504px) and (max-width: 1920px){
      

    #section1 {
        position: relative;
        float: left;
        width: 1100px;


    }


    #section2 {
        position: relative;
        float: left;
        width: 1100px;
        left: 1030px;

    }

    #section3 {
        position: relative;
        float: left;
        width: 1100px;


    }

    #section4 {
        position: relative;
        float: left;
        width: 1100px;
        left: 1030px;

    }

    .container{
        display: grid;
        grid-template-columns: repeat(2, 4%);
    }
}