html {
  scroll-behavior: smooth;
 }
 img {
  width: 13%;
 }


 .imageposter{
  position: absolute;
  width: 48%;
  top: -157px;
  left: 130px;
  height: auto;
  z-index: 2;
  
 }

.imageposter:hover{
  margin: 0 0px;
  opacity: 1;
  transform: scale(1.2);
} 



#l1{
  width: 0px;
  height: 0px;
}
 iframe{
  opacity: 0;
 /* width: 200px;
  height: 300px;*/
  position: relative;
  left: -210px;
  top: 0px;
 }
 #frame:hover{
  opacity: 1;
 } 


 body {
  margin: 0;
  background-color: #000;
 }
 h1 {
  font-family: Arial;
  color: red;
  
 }
 .number{
  position: relative;
  top: 0px;
 


 
 }
 .item{
  position: relative;
 }
 
 .anterior{
 width: 80px;
 position: absolute;
 top: 35%;
 opacity: 0;
 z-index: 2;
  
 }
 .proximo{
  width: 80px;
  position: absolute;
  top: 35%;
  opacity: 0;
  z-index: 2;
   
 }

 .proximo:hover{
  opacity: .5;
}
.anterior:hover{
  opacity: .5;
}


.logo{
  width: 0px;
  height: 0px;
}


 .conteiner {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 90%);
  overflow: hidden;
  scroll-behavior: smooth;
 }
 